body{
    background-color: #000000;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.envelope{
    position: relative;
    background-color: rgb(232, 229, 196);
    width: 500px;
    height: 300px;
}

.envelopeCap{
    position: absolute;
    width: 0px;
    height: 0px; 
    border-top: 200px solid rgb(217, 213, 169); 
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    transform-origin: top;
    transition: transform 0.5s ease;
    z-index: 1;
}

.envelopeCap:hover{
    transform: rotateX(180deg);
}

.envelopeBodyLeft{
    position: absolute;
    top: 0px;
    width: 0px;
    height: 0px; 
    border-bottom: 150px solid transparent;
    border-left: 250px solid #b8b480;
    border-top: 150px solid transparent;
}

.envelopeBodyRight{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 0px; 
    border-bottom: 150px solid transparent;
    border-right: 250px solid #b8b480;
    border-top: 150px solid transparent;
}

.envelopeBodyBottom{
    position: absolute;
    bottom: 0px;
    width: 0px;
    height: 0px; 
    border-right: 250px solid transparent;
    border-bottom: 165px solid #adaa79;
    border-left: 250px solid transparent;
}

.paper{
    background-color: white;
    width: 500px;
    height: 150px;
    margin-top: 10px;
}